@import "variables";

// footer, footer * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid red 3px !important;
// }


footer{
  width: 90%;
  padding: 5%;
  background: $cm-red;

  div {
    width: 50%;
  }

  h1, h2, h3, h4, h5, h6, a, p{
    color: $cm-white;
  }
} // footer end
